<footer class="footer">
    <div class="logo">
        Dii
    </div>
    <div class="list">
        <a href="#" class="list__item">Умови користування сайту</a>
        <a href="#" class="list__item">Мапа сайту</a>
        <a href="#" class="list__item">Як розмістити оголошення?</a>
        <a href="#" class="list__item">Як допомогти?</a>
    </div>
    <div class="list">
        <a href="#" class="list__item">Політика конфіденційності</a>
        <a href="#" class="list__item">Правила безпеки</a>
        <a href="#" class="list__item">Мій профіль</a>
    </div>
</footer>