header.header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 20px 35px;

    background-color: var(--header-bg-color);
}

.auth-button {
    padding: 10px 15px;

    color: var(--text-color);
    background-color: var(--primary);

    border-radius: 5px;
}
