<header class="header">
  <h1 class="header__title" [routerLink]="['home']">Вія</h1>

  <div class="header__buttons">
    <button type="button" class="button_white">
      Допомогти
    </button>

    <button type="button" *ngIf="authService.userObservable | async" class="profile_button" (click)="toUserCabinet()">
      <span class="profile_button__label">Профіль</span>
      <div class="profile_button__icon">
        <i class="fa-solid fa-user"></i>
      </div>
    </button>

    <button type="button" *ngIf="!(authService.userObservable | async)" class="profile_button" (click)="toSignUpPage()">
      <span class="profile_button__label">Увійти</span>
      <div class="profile_button__icon">
        <i class="fa-solid fa-user"></i>
      </div>
    </button>
  </div>
</header>