header.header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 20px 35px;

    background-color: var(--header-bg-color);
}

.header__buttons {
    > *:not(:last-of-type) {
        margin-right: 10px;
    }
}

.auth-button {
    padding: 10px 15px;

    color: var(--text-color);
    background-color: var(--primary);

    border-radius: 5px;
}
