<div class="product-preview">
    <div class="product-preview__image"></div>

    <div class="product-preview__info">
        <div class="product-preview__title">{{ product.title }}</div>
        <div class="product-preview__progress">
            <div class="progress__line" style="--progress:{{percentOfCollected()}}%"></div>
            <div class="progress__info">
                <span class="collected">₴{{ product.collected }}/</span><span class="necessary">{{
                    product.amount}}</span>
            </div>
        </div>
        <div class="product-preview__region">{{ product.region }} {{ product.date | date:'MM.d.yy' }}</div>
        <div class="product-preview__help_button">
            <button type="button" class="button button_dark" [routerLink]="[ '/product', product._id ]">
                Допомогти
            </button>
        </div>
    </div>
</div>