<div class="form__wrapper">
    <div class="tabs">
        <div class="tab" [routerLink]="['/auth/sign-in']" routerLinkActive="active">
            Вхід
        </div>
        <div class="tab" [routerLink]="['/auth/sign-up']" routerLinkActive="active">
            Реєстрація
        </div>
    </div>

    <form class="form" [formGroup]="signInForm" (ngSubmit)="signIn()">
        <h2 class="form__title">Ваш профіль</h2>

        <div class="form-field">
            <input type="text" class="form__element" formControlName="email" placeholder="First name">
        </div>

        <div class="form-field">
            <input type="password" class="form__element" formControlName="password" placeholder="Password">
        </div>

        <button type="submit" class="form__element">Увійти</button>
    </form>
</div>