.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.create-product-form {
    width: calc(50% - 10px);
}

.table__wrapper {
    margin-top: 35px;
}

.table__wrapper,
table {
    width: 100%;
}

table {
    background-color: #646464;

    border-collapse: collapse;
}

th,
td {
    padding: 10px 15px;

    border: 1px solid black;
}

td{
    vertical-align: top;
}
