<div class="container">
    <search-component></search-component>

    <div class="product" *ngIf="isReady">
        <h2 class="product__title">
            {{ product.title }}
        </h2>
        <div class="product__description">
            {{ product.description }}
        </div>

        <div class="d-flex justify-content-between product__content">
            <div class="product__image">
                <img src="../../../assets/images/fullsize/armor.png" alt="">
            </div>
            <div class="product__info">
                <donate-progress-bar [collected]="product.collected" [amount]="product.amount"></donate-progress-bar>
                <button type="button" class="button button_dark">Допомогти</button>

                <div class="d-flex justify-content-between">
                    <div class="info">
                        <div class="info__title">Реквізити для донатів</div>
                        <div class="info__content">
                            <ng-container *ngIf="user.cardNumber; else cardNumberElseTemplate">
                                {{ user.cardNumber }}
                                <button type="button" ngxClipboard [cbContent]="user.cardNumber.toString()">
                                    <i class="fa-solid fa-copy"></i>
                                </button>
                            </ng-container>
                            <ng-template #cardNumberElseTemplate>
                                Нажаль реквізити відсутні.
                            </ng-template>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info__title">Номер телефону</div>
                        <div class="info__content">
                            <ng-container *ngIf="user.phone; else phoneElseTemplate">
                                {{ user.phone }}
                                <button type="button" ngxClipboard [cbContent]="user.phone.toString()">
                                    <i class="fa-solid fa-copy"></i>
                                </button>
                            </ng-container>
                            <ng-template #phoneElseTemplate>
                                Нажаль номер телефону відсутній.
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>