.container {
    width: 1100px;
    margin: 0 auto;
}

.button {
    padding: 10px;

    font-size: 18px;
    color: #ddd;

    border: none;
    border-radius: 6px;

    &.button_dark {
        background-color: #000;
    }

    &.button_light {
        background-color: #ececec;
        color: #000;
    }
}

.is-loading {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 0;

    overflow: hidden;

    pointer-events: none;

    &:before {
        content: "";

        position: absolute;

        width: 15px;
        height: 15px;

        border: 3px solid rgba(93, 93, 93, 0.6);
        border-left-color: transparent;

        border-radius: 50%;

        animation: 1.3s loader infinite linear;
    }
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}
