body{
    --text-color: #050505;
    --background-color: #f1f1f1;

    --header-bg-color: #4f95ff;

    --primary: #4f95ff;

    --warning-color: #f7a832;
    --danger-color: #e12424;
    
    --error-color: #c11e1e;
}