<div class="wrapper">
    <div class="title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididusse cillum dolore eu
        fugiat nulla pariatur. Excepteur
    </div>
    <div class="search">
        <div class="search-field">
            <input type="text" placeholder="Чим я можу допомогти?">
        </div>
        <button type="button" class="button button_light">
            Регіон
            <i class="fa-solid fa-location-dot"></i>
        </button>
        <button type="button" class="button button_dark">
            Пошук
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>