<div class="wrapper">
    <div class="form__wrapper">
        <h2 class="form__label">User info</h2>

        <form class="form user_form" [formGroup]="userForm" (ngSubmit)="updateUser()">
            <div class="form-field">
                <input type="text" class="form__element" formControlName="first_name" placeholder="First name" required>
            </div>

            <div class="form-field">
                <input type="text" class="form__element" formControlName="last_name" placeholder="Last name" required>
            </div>

            <div class="form-field">
                <input type="text" class="form__element" formControlName="email" placeholder="Email" required>
            </div>

            <button type="submit" class="form__element" *ngIf="userForm.touched">Submit</button>
        </form>
    </div>

    <div class="form__wrapper">
        <h2 class="form__label">Change password</h2>

        <form class="form change_password_form" [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
            <div class="form-field">
                <input type="password" class="form__element" formControlName="current_password"
                    placeholder="Current password" required>
            </div>

            <div class="form-field">
                <input type="password" class="form__element" formControlName="password" placeholder="Password" required>
            </div>

            <div class="form-field">
                <input type="password" class="form__element" formControlName="repeated_password"
                    placeholder="Repeat password" required>
            </div>

            <button type="submit" class="form__element" *ngIf="changePasswordForm.touched">Submit</button>
        </form>
    </div>
</div>