@import "./ui/reset.scss";

@import "./themes/light.scss";
@import "./themes/dark.scss";

@import "./ui/ui.scss";
@import "./ui/form.scss";
@import './ui/button.scss';

html,
body {
    min-height: 100%;

    color: var(--text-color);

    background: url('../assets/images/main_background.png');
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
